body {
    margin: 0;
    padding:100px 0 0 0;
}
.heading {
    text-align: center;
    font-size: 4em;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: main, serif;
    background-color: black;
    color: red;
}

 @font-face {
     font-family: main;
     src: url("/assets/font/main.ttf");
 }